[http]
	sslVerify = true
	cookiefile = ~/gitcookies.txt
	sslCAInfo = ~/git-certs/trusted-certs.pem
[core]
	ignorecase = false
	autocrlf = false
	editor = geany  -i -m -n -s
[user]
	name = bartland
	email = bruce.cartland@pobox.com
[credential]
	helper = store
