[http]
    #sslVerify = false
    cookiefile = ~/gitcookies.txt
    sslCAInfo = ~/git-certs/trusted-certs.pem
[core]
    editor = "/e/pf/geany/bin/geany  -i -m -n -s"
[user]
    name = bartland
    email = bruce.cartland@pobox.com
[credential]
    helper = store
